body {
    margin: 0;
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .6);
}

.dice {
    background: #fff;
    border: 2px solid #222;
    border-radius: .5rem;
    margin: 1rem;
    display: grid;
    padding: 1rem;
    box-sizing: border-box;
    grid-template-columns: repeat(5, 1rem);
    grid-template-rows: repeat(5, 1rem);
    /* HÄR KODAR DU UPP DIN GRID */
}

.dice.faded {
    opacity: .2;
}

.dice aside {
    background: none;
    border-radius: 50%;
}

.dice.dots-1 aside:nth-child(1) {
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: black;
}

.dice.dots-2 aside:nth-child(1) {
    grid-column: 1/2;
        grid-row: 1/2;
        background-color: black;
}

.dice.dots-2 aside:nth-child(2) {
    grid-column: 5/6;
        grid-row: 5/6;
        background-color: black;
}

.dice.dots-3 aside:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: black;
}

.dice.dots-3 aside:nth-child(2) {
    grid-column: 3/4;
        grid-row: 3/4;
        background-color: black;
}

.dice.dots-3 aside:nth-child(3) {
    grid-column: 5/6;
        grid-row: 5/6;
        background-color: black;
}

.dice.dots-4 aside:nth-child(1) {
    grid-column: 1/2;
        grid-row: 1/2;
        background-color: black;
}

.dice.dots-4 aside:nth-child(2) {
    grid-column: 5/6;
        grid-row: 1/2;
        background-color: black;
}

.dice.dots-4 aside:nth-child(3) {
    grid-column: 1/2;
        grid-row: 5/6;
        background-color: black;
}

.dice.dots-4 aside:nth-child(4) {
    grid-column: 5/6;
        grid-row: 5/6;
        background-color: black;
}

.dice.dots-5 aside:nth-child(1) {
    grid-column: 1/2;
        grid-row: 1/2;
        background-color: black;
}

.dice.dots-5 aside:nth-child(2) {
    grid-column: 5/6;
        grid-row: 1/2;
        background-color: black;
}

.dice.dots-5 aside:nth-child(3) {
    grid-column: 3/4;
        grid-row: 3/4;
        background-color: black;
}

.dice.dots-5 aside:nth-child(4) {
    grid-column: 1/2;
        grid-row: 5/6;
        background-color: black;
}

.dice.dots-5 aside:nth-child(5) {
    grid-column: 5/6;
        grid-row: 5/6;
        background-color: black;
}

.dice.dots-6 aside:nth-child(1) {
    grid-column: 1/2;
        grid-row: 1/2;
        background-color: black;
}

.dice.dots-6 aside:nth-child(2) {
    grid-column: 5/6;
        grid-row: 1/2;
        background-color: black;
}

.dice.dots-6 aside:nth-child(3) {
    grid-column: 1/2;
        grid-row: 3/4;
        background-color: black;
}

.dice.dots-6 aside:nth-child(4) {
    grid-column: 5/6;
        grid-row: 3/4;
        background-color: black;
}

.dice.dots-6 aside:nth-child(5) {
    grid-column: 1/2;
        grid-row: 5/6;
        background-color: black;
}

.dice.dots-6 aside:nth-child(6) {
    grid-column: 5/6;
        grid-row: 5/6;
        background-color: black;
}