* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Simple flexbox to place hamburger menu in top left and the h1 and image in the center. */
header {
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(61, 224, 126);
    
    aside {
        margin: 2rem;
        align-self: flex-start;
    }
    
    h1 {
        font-size: 5rem;
    }
}

main {
    padding: 4rem 8rem;
    background: black;
    color: white;
}

.wrapper {
    width: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

h2 {
    margin: 1rem 0;
}

.button {
    width: 150px;
    margin-top: auto;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background: rgb(232, 63, 87);
    color: white;
}

/* Content of the individual cards */
.card {
    margin-bottom: 4rem;
    grid-column: auto / span 2;
    /* grid-colum since grid affects .card
    Flexbox to affect its children */
    display: flex;
    flex-direction: column;
    img {
        width: 100%
    }
    
    p {
        margin-bottom: 2rem;
    }
    
}

/* Content of the larger cards */
.big-card {
    grid-column: auto / span 3;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    img {
        width: 100%;
    }
    
    h2 {
        margin: 1rem;
    }
    
    .button {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    
    p {
        margin: 0 1rem 2rem 1rem;
    }
}




/* The footer at the bottom */
footer {
    padding: 4rem 8rem;
    background: rgb(51, 51, 51);
    color: white;
    
    a{
        text-decoration: none;
        color: white;
    }
}

.footer-links {
    display: flex;
    justify-content: space-between;
    
    nav {
        display: flex;
        flex-direction: column;
    }
}