* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    height: 30rem;
    align-items: center;
    justify-content: space-between;
    background: rgb(61, 224, 126);
    
    aside {
        align-self: flex-start;
        margin: 2rem;
    }
    
    h1 {
        font-size: 5rem;
    }
}

main {
    background: black;
    padding: 4rem 8rem;
    color: white;
}

.wrapper {
    width: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.card {
    grid-column: auto / span 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    img {
        width: 100%
    }

    p {
        margin-bottom: 2rem;
    }

}

.big-card {
    grid-column: auto / span 3;
    background: white;
    color: black;

    img {
        width: 100%;
    }

    section {
        margin: 1rem;
    }
}

h2 {
    margin: 1rem 0;
}

.button {
    background: rgb(232, 63, 87);
    width: 150px;
    padding: 0.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: auto;
}

footer {
    padding: 4rem 6rem;
    background: rgb(51, 51, 51);
    color: white;
    
    a{
        text-decoration: none;
        color: white;
    }
}

.footer-links {
    display: flex;
    justify-content: space-between;

    nav {
        display: flex;
        flex-direction: column;
    }
}